.card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0.5em 1.2em;
    background: linear-gradient(to bottom, #fbe2a2 0%, #f6b510 100%);
  }
  .card-title__icon {
    width: 24px;
    height: auto;
  }
  .card-title__text {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    text-transform: uppercase;    
    font-weight: 700;    
  }
  