.card-categories-info__description__link{
    text-decoration: none;
    text-transform: capitalize;    
    font-weight: 700;
    letter-spacing: 1px;
    color: #362702;
    background-color: #F6B510;
    padding: 5px 10px;
    border-radius: 20px;
    display: inline-block;
}
.card-categories-info__description__link:hover{
    background-color: #d39b0e;
}
