

.Breadcumb-container{
    width: 100%;
    border-bottom: 1px solid #1a1a1a;
    
}

.breadcrumb{
    width: 100%;
    display: flex;
    flex-direction: row;   
    align-items: center;    
    justify-content: flex-start;
    padding-left: 1em;
    flex-wrap: wrap;
    background-color: #EDEFF0;    
}

.breadcumb-item, .breadcumb-item-current{
    list-style-type: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: 10px;    
    height: 100%;
}
.breadcumb-item-current{
    color: #F6B510;
    font-weight: 700;
    letter-spacing: 0.01em;
    padding: 16px 8px;
}
.breadcumb-btn:hover{
    background-color: #F6B510;
}
.breadcumb-separator-icon{
    width: auto;
    height: 20px;
}

.breadcumb-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    gap: 5px;
    min-width: 100px;
    text-decoration: none;
    padding: 16px 8px;
    color: #1a1a1a;   
        
}
.breadcumb-icon{
    width: 25px;
    height: auto;
}


/*Mobile version*/
@media (max-width: 600px) {
    .breadcumb-item{
        padding: 0.4em;
    }
    .breadcumb-btn{
        border: 1px solid #757575;
        border-radius: 20px;
        padding: 8px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    }
    .breadcumb-separator-icon{
        display: none;
    }
    .breadcumb-item-current{
        
    }
}