.table-container {
    width: 100%;
}

.entity-table {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    border: 2px solid black;
    font-family: Arial, sans-serif;
    
  }
  
  .entity-table thead {
    background: linear-gradient(to bottom, #FFA500, #FF8C00);
  }
 
  .entity-table th {
    padding: 15px 10px;
    text-align: left;
    color: #362702;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #fbe2a2 0%, #f6b510 100%);
  }
  
  
  .entity-table tbody tr:nth-child(even) {
    background-color: #e0e0e0;
  }
  
  .entity-table tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  .entity-table__data {
    padding: 20px 10px;
    
  }

  .entity-table__data__icon{
    display: none;
    width: 16px;
    height: auto;
  }
  
  .view-button {
    background-color: #FFA500;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .view-button:hover {
    background-color: #FF8C00;
  }

  /*Mobile version*/
  @media (max-width: 600px) {
    .entity-table thead{
      display: none;
    }
    .entity-table tr{
      display: flex;
      flex-direction: row;      
      flex-wrap: wrap;
      align-items: center;    
      gap: 0.5em;      
      padding: 1.4em 0.6em;
      justify-content: flex-start;    

    }
    
    .entity-table__data {      
      min-width: 40%;
      width: fit-content;
      padding: 0.25em;
      display: flex;
      flex-direction: row;
      align-items: center;      
      column-gap: 0.2em;
    }    
    .entity-table__data__icon{
      display: block;
      width: 16px;
      height: auto;
    }
    
}