.card-user-details {
    display: flex;
    width: 100%;
    max-width: 800px;
    background-color: #EDEFF0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Roboto", sans-serif;
  }
  
  .user-details__container {
    width: 35%;    
  }

  .user-details__container__image {
    width: 100%;    
    height: auto;
    object-fit: cover;
    object-position: center;
  }
  
  .user-details__info {
    width: 65%;
    padding: 20px;
    gap: 0.5em;
    display: flex;
    flex-direction: column;
  }
  .card-user-details__info__title{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1em;
  }  

  
  .card-user-details__btn-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  
  
  .dataloggers, .alarms {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .datalogger-button, .alarm-button {
    background-color: #FFA500;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  p {
    margin: 5px 0;
  }
  
  .action-buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }
  
  .edit-button, .delete-button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .edit-button {
    background-color: #FFA500;
  }
  
  .delete-button {
    background-color: #FF6347;
  }

  /*Mobile version*/
  @media (max-width: 600px) {
    .card-user-details {
      flex-direction: column;
      width: 90%;
    }
    .user-details__info, .user-details__container{
      width: 100%;
    }
    .user-details__container__image{
      height: 250px;
    }

  }


