.title2-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 0 30px;
    width: 100%;
}
.title2-img{
    width: 34px;
    height: auto;
}
h2{
    text-transform: capitalize;
    
}